.employment {
    background: url(../../pages/coverImages/corporate1.jpg) no-repeat center center fixed;
    background-size: cover;
    height: auto; 
    background-position-y: 40px;
    position: relative;
}

p {
    margin: auto;
    padding: .5em;
}

.cover {
    height: 60vh;
}

.wrapper {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content {
    text-align: center; 
    width: 70vw;
    height: auto;
}

#title {
    margin: auto;
    padding: 20px;
    background-color: #e8e8ea;
    color: rgba(230, 115, 14, 1);
}

.staff-content {
    display: flex;
    margin-top: 2em;
    font-size: large;
}

 .staff-1 { 
    text-align: left;
    padding-right: 15px;
    width: 70%;
}

.button {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.staff-2 {
    margin-right: 1em;
    width: 28%;
}

.image-bus {
    width: 20vw;
    height: 32vh;
}

#contact {
    width: 18vw;
    height: 65px;
}

@media (max-width: 950px) {
    .employment {
        background: url(../../pages/coverImages/application.jpg) no-repeat center center;
        background-size: 950px 1000px;
        -webkit-background-size: 950px 1000px;
        -moz-background-size: 950px 1000px;
        -o-background-size: 950px 1000px;
        background-position-y: -150px;
        position: relative;
    }

}

@media (max-width: 550px) {
    
}