p {
    margin: auto;
}

.cover {
    height: 60vh;
}

.wrapper {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content {
    text-align: left;
    width: 70vw;
    height: auto;
}

.service-page {
    background: url(../../pages/coverImages/Servicespage_image.jpg) no-repeat center center fixed;
    width: 100vw;
    height: auto; 
    background-size: cover;
    background-position-y: 10px;
    position: relative;
}

#title {
    margin: auto;
    padding: 20px;
    background-color: #e8e8ea;
    color: rgba(230, 115, 14, 1);
}

.services {
    margin: auto;
}

.services-text {
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
}

@media (max-width: 600px) {
    .service-page {
        background: url(../../pages/coverImages/Servicespage_image.jpg) no-repeat center center fixed;
        background-size: cover;
        background-position-y: 10px;
        position: relative;
    }
}