/* Universal Styling */
p {
    margin: auto;
}

.cover {
    height: 60vh;
}

.wrapper {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content {
    text-align: left;
    width: 70vw;
    height: auto;
}

/* Home page CSS */
.main {
    background: url(../pages/pagesImages/uptownhope_bkgrd.png) no-repeat center center fixed;
    height: auto; 
    background-size: cover;
    background-position-y: 40px;
    position: relative;
    margin: auto;
}

.top-block {
    background: rgba(230, 115, 14, 1);
    color:  #0b2ca3;
}

.top-block h1{
    color: #ffffff;
    text-shadow: 2px 2px #0b2ca3;
}

.wrapper-symbols {
    display: flex;
    justify-content: center;
}

.symbol-block {
    color:  #0b2ca3;
    padding: 15px 90px;
    font-weight: 500;
    max-width: 20%;
    vertical-align: top;
}

.symbol-block span {
    font-size: 50px;
}

.symbol-block h3 {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: auto;
}

/* About Page CSS */
.about {
    background: url(../pages/pagesImages/group_photo.jpg) no-repeat center center fixed;
    height: auto; 
    background-size: cover;
    /* background-position-y: 30px; */
    position: relative;
}

#title {
    margin: auto;
    padding: 20px;
    background-color: #e8e8ea;
    color: rgba(230, 115, 14, 1);
}

.mission {
    margin: auto;
}

.mission-text {
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
}

.vis-val {
    display: flex;
    background-color: #ffffff;
}


/* Serivces Page CSS */
.service-page {
    background: url(../pages/pagesImages/Servicespage_image.jpg) no-repeat center center fixed;
    /* width: 100vw; */
    height: auto; 
    background-size: cover;
    background-position-y: 10px;
    position: relative;
}

#title {
    margin: auto;
    padding: 20px;
    background-color: #e8e8ea;
    color: rgba(230, 115, 14, 1);
}

.services {
    margin: auto;
}

.services-text {
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
}


/* Employment Page CSS */
.employment {
    background: url(../pages/pagesImages/application.jpg) no-repeat center center fixed;
    background-size: cover;
    height: auto; 
    background-position-y: 40px;
    position: relative;
}

.job-info {
    margin: auto;
    padding: 20px;
}

.cards-row {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

/* FAQ Page CSS */
.faq {
    background: url(../pages/pagesImages/typing.jpg) no-repeat center center fixed;
    background-size: cover;
    height: auto; 
    /* background-position-y: 10px; */
    position: relative;
}


/* Contact Page CSS */
.contact {
    margin: auto;
    padding-bottom: 1em;
}

.contact_info {
    display: flex;
    padding: 1em 2em;
}

.uptown_hope {
    width: 45%;
    align-items: center;
}

.uptown_hope p, a{
    font-size: 20px;
}

.contact_button {
    padding-top: .5em;
    
}

/* For phones and smaller screens */
@media screen and (min-width: 799px) {
    
}