.weeks {
    margin: 0;
    width: auto;
    display: flex;
    justify-content: center;
}

.week-one {
    width: 50vw;
    margin-right: 1em;
    display: grid;
    
}

.week-two {
    width: 50vw;
    display: grid;
}