@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

footer {		
  width: 100%;
  height: auto;
  position: relative;
  background: rgba(230, 115, 14, 1);
  display: inline-block;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  margin: auto;
}

.footer-distributed{
	/* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); */
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 20px;
	padding-left: 3em;
	/* padding-right: 2em; */
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	padding-left: 20px;
	padding-top: 30px;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	padding-left: 30px;
	width: 40%;
}

/* The company logo */

.footer-left .logo{
	margin-left: 4rem;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #0b2ca3;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  	font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin-left: 4rem;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 30%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #0b2ca3;
  	font-weight: normal;
	vertical-align: middle;
	font-size: 20px;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:20px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #0b2ca3;
	text-decoration: none;
}

.footer-distributed .footer-links a:before {
	content: "|";
	font-weight:300;
	font-size: 20px;
	left: 0;
	color: #fff;
	display: inline-block;
	padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 25%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #0b2ca3;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #0b2ca3;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	padding-left: 3.5em;
	
}

.social-icons{
	display: inline-block;
	/* width: 35px;
	height: 35px; */
	cursor: pointer;
	margin-right: .3rem;
}

@media (max-width: 1500px) {
	.footer-distributed{
		/* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); */
		box-sizing: border-box;
		width: 100%;
		text-align: left;
		font: bold 16px sans-serif;
		padding: 20px;
		padding-left: 3em;
	}
}


@media (max-width: 1250px) {

	.footer-distributed{
		font: bold 14px sans-serif;
		padding-right: 4.5rem;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		width: 100%;
		/* margin-bottom: 40px; */
		text-align: center;
		background: #e6730e;
		margin: auto;
	}

	.footer-left .logo{
		margin-left: auto
	}
	
	.footer-distributed .footer-links{
		color:  #0b2ca3;
		margin: 20px 0 12px;
		padding: 0;
	}
	
	.footer-distributed .footer-company-name{
		color:  #222;
		font-size: 14px;
		font-weight: normal;
		margin-left: auto;
	}
	

	.footer-distributed .footer-center i{
		margin-left: 0;
		padding-top: 5em;
		padding-bottom: 10px;
	}

	.footer-distributed .footer-right{
		padding-left: 3em;
	}

	.footer-distributed .footer-icons{
		padding-left: 0;	
	}
}
